<!doctype html>
<html lang="en" class="rykn0wxx no-js">
  <head>
    <%= render  "shared/head" %>
  </head>

  <body class="mudhead">
    <%= render  "shared/flash" %>
    <%= render "shared/main" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', 'data-turbolinks-suppress-warning': 'true' %>
  </body>
</html>
